{% extends "AppBundle:Layouts:layout.html.twig"%}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/custom/companies.js') }}"></script>
{% endblock %}

{% block content %}
    <section class="how-we-work-for-you-section">
        <div class="container">
            <div class="col-lg-12 text-center">

                <h4>Nuestro proceso</h4> 
                <h1>¿Cómo trabajamos para ti?</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae illum dolorem, rem officia, id explicabo sapiente</p><br>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center">
                <img src="{{ asset('assets/images/imgdefault.png') }}" alt="" class="center-block img-responsive img-circle" width="150">
                <h4>Aqui va un punto</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit adipisci consequuntur suscipit, optio itaque culpa voluptas, nesciunt sunt facere ipsa aut, accusantium voluptatibus deleniti error, obcaecati ex maxime voluptates praesentium!</p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center">
                <img src="{{ asset('assets/images/imgdefault.png') }}" alt="" class="center-block img-responsive img-circle" width="150">
                <h4>Aqui va un punto</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit adipisci consequuntur suscipit, optio itaque culpa voluptas, nesciunt sunt facere ipsa aut, accusantium voluptatibus deleniti error, obcaecati ex maxime voluptates praesentium!</p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center">
                <img src="{{ asset('assets/images/imgdefault.png') }}" alt="" class="center-block img-responsive img-circle" width="150">
                <h4>Aqui va un punto</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit adipisci consequuntur suscipit, optio itaque culpa voluptas, nesciunt sunt facere ipsa aut, accusantium voluptatibus deleniti error, obcaecati ex maxime voluptates praesentium!</p>
            </div>
        </div>
    </section><hr>

    <section class="companies-from-myjobsadvisor">


        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h4>Empresas</h4>
                    <h1>Algunas empresas registradas en MyJobsAdvisor</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae illum dolorem, rem officia, id explicabo sapiente</p>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 col-xs-4">
                    <a href="#" class="thumbnail">
                        <img class=" img-responsive" src="{{ asset('assets/images/company-logo.png') }}" alt="...">
                    </a>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 col-xs-4">
                    <a href="#" class="thumbnail">
                        <img class=" img-responsive" src="{{ asset('assets/images/company-logo.png') }}" alt="...">
                    </a>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 col-xs-4">
                    <a href="#" class="thumbnail">
                        <img class=" img-responsive" src="{{ asset('assets/images/company-logo.png') }}" alt="...">
                    </a>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 col-xs-4">
                    <a href="#" class="thumbnail">
                        <img class=" img-responsive" src="{{ asset('assets/images/company-logo.png') }}" alt="...">
                    </a>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 col-xs-4">
                    <a href="#" class="thumbnail">
                        <img class=" img-responsive" src="{{ asset('assets/images/company-logo.png') }}" alt="...">
                    </a>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 col-xs-4">
                    <a href="#" class="thumbnail">
                        <img class=" img-responsive" src="{{ asset('assets/images/company-logo.png') }}" alt="...">
                    </a>
                </div>
            </div>
        </div>
    </section><hr>

    <section class="recent-opinion">
        <div class="container">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                <h4>Opiniones</h4>
                <h1>Se parte de cientos de opiniones</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae illum dolorem, rem officia, id explicabo sapiente</p>
            </div>
            <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 table-responsive"> 
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Logo</th>
                            <th>Empresa</th>
                            <th>Opinado por</th>
                        </tr>
                    </thead>
                    {% for opinions in pagination %}
                        <tbody>
                            <tr>
                                <td>
                                    {% if opinions.company.logo == null %}
                                        <img class="center-block" src="{{ asset('assets/images/company-logo.png') }}" width="50"/>
                                    {% else %}
                                        <img class="center-block" src="{{ asset('uploads/company/'~opinions.company.logo) }}" width="50"/>
                                    {% endif %}
                                </td>
                                <td>{{ opinions.company.tradename}}</td>
                                <td>{{ opinions.user.name}} {{ opinions.user.plastname}}</td>
                            </tr>
                        </tbody>
                    {% endfor %}
                </table>
            </div>
        </div>
    </section><hr>

    <section class="register-company-section-index">
        <div class="container">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                <h4></h4>
                <h1>Registra una empresa</h1>
                <p>Eres representante de una empresa, registrala ahora mismo</p>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                <a href="{% if app.user == null %} {{ path('user_register_login')}} {% else %} {{ path('register-company')}} {% endif %}" type="button" class="btn btn-info">¡Registrarla ahora!</a>
            </div>
        </div>
    </section>

{% endblock %}
