<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Panel de Administración</title>


        <link href="{{ asset('assets/css/bootstrap.min.css')}}" type="text/css" rel="stylesheet">
        <link href="{{ asset('assets/css/admin.css')}}" type="text/css" rel="stylesheet">
        <link href="{{ asset('assets/css/font-awesome.min.css')}}" rel="stylesheet">

        <script type="text/javascript">
            var URL = "{{ app.request.getSchemeAndHttpHost() }}/myjobs/web/app_dev.php";
        </script>
        <script src="{{ asset('assets/js/jquery.min.js') }}"></script>
        <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('assets/js/jquery-ias.min.js') }}"></script>   
    </head>

    <body>

        <div id="wrapper">

            <!-- Navigation -->
            <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html">MyJobsAdvisor</a>
                </div>
                <!-- Top Menu Items -->
                <ul class="nav navbar-right top-nav">

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> Administrador <b class="caret"></b></a>
                        <ul class="dropdown-menu">

                            <li>
                                <a href="{{ path('administrador_logout') }}"><i class="fa fa-fw fa-power-off"></i> Salir </a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    <ul class="nav navbar-nav side-nav">
                        <li class="">
                            <a href="{{ path('administrator_index') }}"><i class="fa fa-building" aria-hidden="true"></i> Empresas sin validar {% for empresas in empresas %} <span class="badge pull-right">{{ empresas }}</span>{% endfor %}</a>

                        </li>
                        <li>
                            <a href="{{ path('administrator_comment') }}"><i class="fa fa-comments" aria-hidden="true"></i> Comentarios sin validar {% for comentarios in comentarios %} <span class="badge pull-right">{{comentarios}}</span>{% endfor %}</a>
                        </li>
                        <li>
                            <a href="{{ path('administrator_claim') }}"><i class="fa fa-gavel" aria-hidden="true"></i> Reclamaciones {% for claims in claims %} <span class="badge pull-right">{{claims}}</span>{% endfor %}</a>
                        </li>
                        <li>
                            <a href="{{ path('administrator_user') }}"><i class="fa fa-users" aria-hidden="true"></i> Administrar usuarios {% for usuarios in usuarios %} <span class="badge pull-right">{{usuarios}}</span>{% endfor %}</a>
                        </li>
                        <li>
                            <a href="{{ path('administrator_allcompanies') }}"><i class="fa fa-list-alt" aria-hidden="true"></i> Administrar empresas {% for todas_empresas in todas_empresas %} <span class="badge pull-right">{{todas_empresas}}</span>{% endfor %}</a>
                        </li>
                        <li>
                            <a href="{{ path('administrator_graficar') }}"><i class="fa fa-bar-chart" aria-hidden="true"></i> Estadísticas </a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </nav>

            <div id="page-wrapper">

                <div class="row">
                    <div class="col-lg-6">
                        <div class="panel panel-primary">

                            <div class="panel-heading">Usuarios por rango de edades</div>

                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Rango de usuarios</th>
                                        <th>Total</th>
                                    </tr>
                                    {%for edad in edades %}
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>{{edad.rango}}</td>
                                            <td>{{edad.total}} usuarios</td>                                          
                                        </tr>
                                    {%endfor%}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="panel panel-primary">
                            <!-- Default panel contents -->
                            <div class="panel-heading">5 empresas más puntuadas por opiniones</div>
                            <!-- Table -->
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Empresas</th>
                                        <th>Total de puntos en opiniones</th>
                                    </tr>
                                    {%for punto in puntos %}
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>{{punto.tradename}}</td>
                                            <td>{{punto.promedio}} Puntos</td>                                          
                                        </tr>
                                    {%endfor%}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!-- empresas por estados-->
                    <div class="col-lg-6">
                        <div class="panel panel-primary">
                            <!-- Default panel contents -->
                            <div class="panel-heading">Cantidad de empresas, agrupación por estados</div>
                            <!-- Table -->
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Estado</th>
                                        <th>Total</th>
                                    </tr>
                                    {%for estado in estados %}
                                    </thead>
                                    <tbody>
                                        <tr>                                            
                                            <td>{{estado.estado}} </td>
                                            <td>{{estado.total}} Registros</td>
                                        </tr>
                                    {%endfor%}
                                </tbody>
                            </table>
                        </div>
                    </div>  

                    <div class="col-lg-6">
                        <div class="panel panel-primary">
                            <!-- Default panel contents -->
                            <div class="panel-heading">Cantidad de usuarios por género</div>
                            <!-- Table -->
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Masculino</th>
                                        <th>Femenino</th>
                                    </tr>
                                    {%for genero in generos %}
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>{{genero.masculino}}</td>
                                            <td>{{genero.femenino}} </td>                                          
                                        </tr>
                                    {%endfor%}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>




            </div>
            <!-- /#page-wrapper -->
        </div>
        <!-- /#wrapper -->

    </body>

</html>
