{%extends "AppBundle:Layouts:layoutprofiles.html.twig"%}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/custom/users.js') }}"></script>
{% endblock %}
{% block content %}
    <section class="following-section">
        <div class="container">
            <div class="col-lg-12 box-form">
                {% if type == 'following'%}
                    <h1 class="box-header">Siguiendo</h1>
                {% else %}
                    <h1 class="box-header">Seguidores</h1>
                {% endif %}
                <div class="count">
                    <span class="label label-primary">
                        Total de personas: {{ pagination.getTotalItemCount }}
                    </span>
                </div>

                <hr />

                <div class="box-content box-users">
                    {% for follow in pagination %}

                        {% if type == 'following'%}
                            {% set user = follow.followed %}
                        {% else %}
                            {% set user = follow.user %}
                        {% endif %}
                        <div class="media">
                            <div class="media-left">
                                {#mostramos los datos del usuario#}
                                {% if user.image == null %}
                                    <a href="{{ path('user_profile', {'id':user.id})}}">
                                        <img class="company-pp-list img-circle" src="{{asset('assets/images/default.jpg')}}" />
                                    </a>
                                {% elseif user.anonimo == 'Si' %}        
                                    <img class="company-pp-list img-circle" src="{{asset('assets/images/default.jpg')}}" />
                                {% elseif user.facebookId != null %}
                                    <img class="company-pp-list img-circle" src="{{ user.image }}"/>
                                {% elseif user.googleId != null %}
                                    <img class="company-pp-list img-circle" src="{{ user.image }}"/>
                                {% else %}
                                    <a href="{{ path('user_profile', {'id':user.id})}}">
                                        <img class="company-pp-list img-circle" src="{{asset('uploads/users/'~user.image)}}" /> 
                                    </a>
                                {% endif %}
                            </div>

                            <div class="media-body">
                                <h4 class="media-heading">
                                    {% if user.anonimo == 'Si' %}
                                        <em>Anonimo</em>
                                    {% else %}
                                        <a class="links-search" href="{{ path('user_profile', {'id':user.id})}}">{{user.name}} {{user.plastname}}</a>
                                    {% endif %}
                                </h4>
                                {% if user.anonimo == 'Si' %}
                                    <em>Este usuario es privado, por lo tanto no puedes ver su información personal</em>
                                {% else %}
                                    <p>{{ user.biography}}<p>
                                    {% endif %}


                                    {% if app.user.id != user.id %}
                                    <div class="buttons-following" >
                                        <button class=" btn btn-xs btn-success btn-follow {% if app.user|following(user) == true%} hidden {% endif %}" data-followed="{{ user.id }}">
                                            <i class="fa fa-user-plus" aria-hidden="true"></i>
                                            Seguir
                                        </button>

                                        <button class="btn btn-xs btn-default btn-unfollow {% if app.user|following(user) == false %} hidden {% endif %}" data-followed="{{ user.id }}">
                                            <i class="fa fa-user-times" aria-hidden="true"></i>
                                            Dejar de seguir
                                        </button>
                                    </div>
                                {% endif %}
                            </div>

                            <div class="clearfix"></div>
                            <hr>
                        </div>
                    {% endfor %}
                </div>


                {{ knp_pagination_render(pagination) }}

                <div class="clearfix"></div>
            </div>
        </div>
    </section>
{% endblock %}
