{% extends "AppBundle:Layouts:layout.html.twig"%}
{% block javascripts %}
    {{parent()}}
    <script type="text/javascript" src="{{ asset('assets/js/custom/home.js') }}"></script>
{% endblock javascripts %}
{% block content %}
    <div class="container">
        <div id="timeline" class="col-lg-7 box-default pull-left">
            <h1 class="box-header">Timeline</h1>
            <div class="box-content">
                {% for opinions in pagination %}
                    <div class="media opinion-item">
                        <div class="media-left ">
                            <a href="#">
                              <div class="avatar">
                                  {% if opinions.user.image == null%}
                                      <img src="{{ asset('assets/images/default.jpg') }}"/>
                                  {% else %}
                                      <img src="{{ asset('uploads/users/'~opinions.user.image) }}"/>
                                  {% endif %}
                              </div>
                            </a>
                        </div>
                            
                        <div class="media-body">
                            <h5 class="media-heading"><a href="#">{{opinions.user.name}} {{opinions.user.plastname}}</a>
                                <span class="pull-right">{{opinions.createdAt|long_time}}</span>   
                            </h5>
                            <p>{{opinions.generalcomment}}</p>
                        </div>
                        <hr />
                    </div>
                    
                {% endfor %}
                
                <div class="pagination">
                    {{ knp_pagination_render(pagination) }}
                </div>
            </div>
        </div>
        <div id="user-card" class="col-lg-4 box-default pull-left">
            <div class="avatar">
                {% if app.user.image == null%}
                    <img src="{{ asset('assets/images/default.jpg') }}"/>
                {% else %}
                    <img src="{{ asset('uploads/users/'~app.user.image) }}"/>
                {% endif %}
            </div>
            
            <div class="name-surname">
                <a href="#">{{ app.user.name }} {{ app.user.plastname }}</a>
                <div class="clearfix"></div>
                <span class="email">
                    {{ app.user.email }}
                </span>
            </div>
            <div class="clearfix"></div>
        </div>
                
        <div id="new-opinion" class="col-lg-4 box-default pull-left">
            <h1 class="box-header">Crear publicacion</h1>
            {{form_start(form, {action: '', 'method': 'POST' })}}
            {{form_end(form)}}
        </div>
    </div>
{% endblock %}