{% extends "AppBundle:Layouts:layoutprofiles.html.twig"%}
{% block javascripts %}
    {{parent()}}
    <script src="{{ asset('assets/js/custom/profile.js') }}"></script>
{% endblock javascripts %}
{% block content %}
    <section class="profile-company-header">
        <div class="container ">
            <div class="row">
                <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                    {% if company.logo == null%}
                        <img class="profile-picture-company center-block" src="{{ asset('assets/images/company-logo.png') }}"/>
                    {% else %}
                        <img class="profile-picture-company center-block" src="{{ asset('uploads/company/'~company.logo) }}"/>
                    {% endif %}
                </div>

                <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12" id="company-card">
                    <h1 id="profile-company-name">{{ company.tradename }}  | {{ company.businesssector}}
                        {% if company.status == 'valid' %}
                            <i class="fa fa-check-circle text-info" aria-hidden="true"></i>
                        {% endif %}

                        {% if app.user != null %}
                            {% if (company.representant == 'no') or (company.representant == null)%}

                                <div class="btn-group">
                                    <button type="button" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#modalReclamar">Reclamar empresa</button>
                                </div>
                            {% else %}
                                {% if (company.user.id == app.user.id) and (company.representant == 'si') %}
                                    <div class="btn-group">
                                        <a href="{{ path('companies_edit', {'id':company.id}) }}" class="btn btn-default btn-xs" type="button"  aria-haspopup="true" aria-expanded="false">
                                            Editar empresa
                                        </a>
                                    </div>
                                {% endif %}
                            {%endif%}
                        {% endif %}

                    </h1>

                    <h5><b>Descripción</b></h5>

                    <p>{{company.description}}</p>

                    <div class="row ">
                        {% set company_stats = company.id|company_stats%}

                        <div class="following-data">

                            <a href="#">
                                <i class="fa fa-commenting fa-2x" aria-hidden="true"></i>
                                <span class="number-stat">{{company_stats.opinions}}</span>
                            </a>
                        </div>

                        <div class="following-data">
                            <a href="#">
                                <i class="fa fa-heart fa-2x" aria-hidden="true"></i>
                                <span class="number-stat">0</span>
                            </a>
                        </div>

                        <div class="following-data">
                            <a href="#">
                                <i class="fa fa-star fa-2x" aria-hidden="true"></i>

                                {% for puntos in puntos %}
                                    {% for puntos2 in puntos2 %}
                                        {% if puntos == null %}
                                            {% if company_stats.opinions != 0 %}
                                                <span class="number-stat"> {{ (puntos2 / company_stats.opinions)|round(1, 'floor') }}</span>
                                            {% endif %}
                                        {% elseif puntos2 == null %}
                                            <span class="number-stat"> {{ (puntos / company_stats.opinions)|round(1, 'floor') }}</span>
                                        {% else %}
                                            <span class="number-stat"> {{((puntos + puntos2) / company_stats.opinions)|round(1, 'floor') }}</span>
                                        {% endif%}
                                    {% endfor %}
                                {% endfor %}

                            </a>
                        </div>


                        {% if app.user == null%} {# Si no hay una sesión iniciada #}
                            {# El boton para opinar debe invitar a iniciar sesión#}
                            <div class="following-data btn-opinion-desktop">
                                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#ratingModalOffline" data-whatever="@mdo">Calificar empresa</button>
                            </div>
                        {% else %}
                            {# Si no, muestrame el boton, pero...#}
                            {% set lol = "0" %}
                            {% set sol = "0" %}
                            {% for opinions in pagination %}
                                {% if opinions.user.id == app.user.id %}
                                    {# Si la fecha de la opinion creada es mayor a un año #}
                                    {% if date(opinions.createdAt) < date('-365days') %}{# Solo si el id del usuario de la opinion es igual a su sesión #}
                                        {% set lol = "3" %}
                                    {% else %}
                                        {% set sol = "5" %}
                                    {% endif %}
                                {% endif %}

                            {% endfor %}

                            {% if sol == "5" %}
                                <div class="following-data btn-opinion-desktop ">
                                    <button type="button" class="btn btn-default" disabled>Has realizado una opinión</button>
                                </div>
                            {% else %}
                                {% if lol == "3"%}
                                    <div class="following-data btn-opinion-desktop">
                                        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#ratingModal" data-whatever="@mdo">Calificar empresa</button>
                                    </div>
                                {% elseif lol == "0" %}
                                    <div class="following-data btn-opinion-desktop">
                                        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#ratingModal" data-whatever="@mdo">Calificar empresa</button>
                                    </div>
                                {% endif%}
                            {% endif %}

                        {% endif %}

                        <div class="col-lg-12">
                            {% if app.user == null%} {# Si no hay una sesión iniciada #}
                                {# El boton para opinar debe invitar a iniciar sesión#}
                                <div class=" btn-opinion-movil">
                                    <button type="button" id="btn-opinion-movil" class="btn btn-default btn-block" data-toggle="modal" data-target="#ratingModalOffline" data-whatever="@mdo">Calificar empresa</button>
                                </div>
                            {% else %}
                                {# Si no, muestrame el boton, pero...#}
                                {% set lol = "0" %}
                                {% set sol = "0" %}
                                {% for opinions in pagination %}
                                    {% if opinions.user.id == app.user.id %}
                                        {# Si la fecha de la opinion creada es mayor a un año #}
                                        {% if date(opinions.createdAt) < date('-365days') %}{# Solo si el id del usuario de la opinion es igual a su sesión #}
                                            {% set lol = "3" %}
                                        {% else %}
                                            {% set sol = "5" %}
                                        {% endif %}
                                    {% endif %}

                                {% endfor %}

                                {% if sol == "5" %}
                                    <div class=" btn-opinion-movil">
                                        <button type="button" id="btn-opinion-movil" class="btn btn-default btn-block" disabled>Has realizado una opinión</button>
                                    </div>
                                {% else %}
                                    {% if lol == "3"%}
                                        <div class=" btn-opinion-movil">
                                            <button type="button" id="btn-opinion-movil" class="btn btn-default btn-block" data-toggle="modal" data-target="#ratingModal" data-whatever="@mdo">Calificar empresa</button>
                                        </div>
                                    {% elseif lol == "0" %}
                                        <div class="btn-opinion-movil">
                                            <button type="button" id="btn-opinion-movil" class="btn btn-default btn-block" data-toggle="modal" data-target="#ratingModal" data-whatever="@mdo">Calificar empresa</button>
                                        </div>
                                    {% endif%}
                                {% endif %}

                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <!-- /.container -->
    </section>

    {# con esto obtenemos el del usuario app.user.name #}
    <section class="opinions-section">
        <div class="container">
            <div class="row">
                {%for message in app.session.flashbag().get('status')%}
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="alert alert-success">{{message}}</div>
                    </div>
                {%endfor%}

                {%for message in app.session.flashbag().get('msg')%}
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="alert alert-success">{{message}}</div>
                    </div>
                {%endfor%}


                {% if (company.status == 'invalid') %}
                    <h2 class="text-muted text-center">
                        La empresa aún no está verificada. Podrás realizar una opinión y esta se mostrará cuando la empresa este verificada
                    </h2>

                {% else %}
                    <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
                        <h1 class="page-header">Opiniones</h1>

                        {% for opinions in pagination %}
                            <div class="panel panel-default">
                                <div class="panel-heading ">
                                    <div class="row">
                                        <div class="col-lg-1 col-md-2 col-sm-2 col-xs-2">

                                            <div class="avatar">
                                                {% if opinions.user.image == null %}
                                                    <a href="{{ path('user_profile', {'id':opinions.user.id})}}"><img class="user-logo-opinion" src="{{ asset('assets/images/default.jpg') }}"/></a>
                                                    {% elseif opinions.user.anonimo == 'Si' %}
                                                    <img class="user-logo-opinion" src="{{ asset('assets/images/default.jpg') }}"/>
                                                {% else %}
                                                    <a href="{{ path('user_profile', {'id':opinions.user.id})}}"><img class="user-logo-opinion" src="{{ asset('uploads/users/'~opinions.user.image) }}"/></a>
                                                    {% endif %}
                                            </div>

                                        </div>
                                        <div class="col-lg-5 col-md-7 col-sm-7 col-xs-7">
                                            <h5 class="media-heading">
                                                {% if opinions.user.anonimo == 'Si' %}
                                                    <em>Anonimo</em>
                                                {% else %}
                                                    <a href="{{ path('user_profile', {'id':opinions.user.id}) }}">{{ opinions.user.name }} {{ opinions.user.plastname }}</a>
                                                {% endif %}

                                            </h5>
                                            <small class="text-muted">{{opinions.createdAt|long_time}}</small>
                                        </div>
                                        <div class="col-lg-6 col-md-3 col-sm-3 col-xs-3">
                                            {% if app.user != null %}
                                                {% if opinions.user.id == app.user.id %}
                                                    <div class="btn-group pull-right">
                                                        <button class="btn btn-link btn-xs dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            <i class="fa fa-cog" aria-hidden="true"></i> <i class="fa fa-caret-down caret-opinioncomment"></i>
                                                        </button>
                                                        <ul class="dropdown-menu">
                                                            <li><a class="btn-delete-pub" data-id="{{ opinions.id }}">Eliminar</a></li>

                                                        </ul>
                                                    </div>
                                                {% endif %}
                                            {% endif%}
                                        </div>
                                    </div>
                                </div>

                                <div class="panel-body">
                                    <p>{{ opinions.generalcomment }}</p>

                                    {% if app.user != null%}
                                        <hr class="profiles-hr">
                                        <div class="like">

                                            <i data-id="{{opinions.id}}" class="
                                               {% if app.user|liked(opinions) == true%}
                                                   hidden
                                               {% endif %}
                                               btn-like fa fa-heart"
                                               aria-hidden="true"
                                               data-toggle="tooltip"
                                               data-placement="left"
                                               title="Me gusta">
                                            </i>

                                            <i data-id="{{opinions.id}}" class="
                                               {% if app.user|liked(opinions) == false%}
                                                   hidden
                                               {% endif %}
                                               btn-unlike active fa fa-heart"
                                               aria-hidden="true"
                                               data-toggle="tooltip"
                                               data-placement="left"
                                               title="Ya no me gusta">
                                            </i>
                                        </div>
                                        <hr class="profiles-hr">
                                    {% endif %}
                                </div>

                                <div class="panel-footer">
                                    {% for comments in comments%}

                                        {% if comments.opinion.id == opinions.id %}
                                            {% if comments.status != 'invalid' %}
                                                <div class="row" id="comment">
                                                    <div class="col-lg-1 col-md-2 col-sm-2 col-xs-2 ">
                                                        <div class="avatar  ">
                                                            {% if comments.user.image == null %}
                                                                <a class="" href="{{ path('user_profile', {'id':comments.user.id})}}">
                                                                    <img class=" user-logo-opinion-comment" src="{{ asset('assets/images/default.jpg') }}"/>
                                                                </a>
                                                            {% elseif comments.user.anonimo == 'Si' %}
                                                                <img class=" user-logo-opinion-comment" src="{{ asset('assets/images/default.jpg') }}"/>
                                                            {% else %}
                                                                <a href="{{ path('user_profile', {'id':comments.user.id})}}">
                                                                    <img class="user-logo-opinion-comment" src="{{ asset('uploads/users/'~comments.user.image) }}"/>
                                                                </a>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-5 col-md-7 col-sm-7 col-xs-7">
                                                        <h5 class="media-heading ">
                                                            {% if comments.user.anonimo == 'Si' %}
                                                                <em>Anonimo</em>
                                                            {% else %}
                                                                <a href="{{ path('user_profile', {'id':comments.user.id}) }}">{{ comments.user.name }} {{ comments.user.plastname }}</a>
                                                            {% endif %}

                                                            - <small class="text-muted">{{comments.createdAt|long_time}}</small>
                                                        </h5>

                                                        <p >{{ comments.body }}</p>


                                                        {% if comments.image != null%}
                                                            <img class="center-block comment-img" width="200" src="{{ asset('uploads/comments/images/'~comments.image) }}"/>
                                                        {% endif %}
                                                    </div>
                                                    <div class="col-lg-6 col-md-3 col-sm-3 col-xs-3">
                                                        {% if app.user != null %}
                                                            {% if comments.user.id == app.user.id %}
                                                                <div class=" btn-group pull-right  ">
                                                                    <button class="btn btn-link btn-xs dropdown-toggle " type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                        <i class="fa fa-cog" aria-hidden="true"></i> <i class="fa fa-caret-down caret-opinioncomment"></i>
                                                                    </button>
                                                                    <ul class="dropdown-menu ">
                                                                        <li><a class="btn-delete-comment" data-id="{{ comments.id }}">Eliminar</a></li>
                                                                    </ul>
                                                                </div>
                                                                <div class="clearfix"></div>
                                                            {% endif %}
                                                        {% endif%}
                                                    </div>
                                                </div>

                                                <hr class="profiles-hr">

                                            {% endif %}
                                        {% endif %}

                                    {% endfor %}
                                    {% if app.user != null%}
                                        <form method="post" enctype="multipart/form-data" class="comment-form" action="{{ path('comment_crate', {'id':company.id, 'opinion_id':opinions.id}) }}" >
                                            <div class="form-group">
                                                <label for="nameInput">Agregar comentario</label>
                                                <textarea type="text" class="form-control" id="nameInput" placeholder="Escribe tu comentario..." name="comment" rows="2" cols="80"></textarea>
                                                <button type="submit" class="btn btn-default btn-sm pull-right">Comentar</button>

                                                <label for="file" class="pull-right label-img"><i class="fa fa-file-image-o"></i></label>
                                                <input id="file" name="image" type="file" >
                                            </div>
                                            <div class="clearfix"></div>
                                        </form>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                        {{ knp_pagination_render(pagination) }}
                    </div>
                {% endif %}
            </div>
        </div>
    </section>

    <div class="modal fade bs-example-modal-lg" id="ratingModal" tabindex="-1" role="dialog" aria-labelledby="ratingModal">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title" id="exampleModalLabel"><b>Tu opinión es importante</b></h3>
                </div>
                <div class="modal-body">
                    <form class="form-rating" action="{{ path('rate', {'id':company.id}) }}">
                        <div class="row">
                            <div class="col-lg-6">
                                <fieldset>
                                    <h5>La empresa considera importante mi punto de vista en el desarrollo de mis actividades</h5>
                                    <p class="clasificacion">
                                        <input id="radio-ques1" name="estrellas" value="1" type="radio"><label class="label-star" for="radio-ques1" ><i class="fa fa-star" aria-hidden="true"></i></label>
                                        <input id="radio-quest2" name="estrellas" value="1" type="radio"><label class="label-star" for="radio-quest2"><i class="fa fa-star" aria-hidden="true"></i></label>
                                        <input id="radio-quest3" name="estrellas" value="0.5" type="radio"><label class="label-star" for="radio-quest3"><i class="fa fa-star" aria-hidden="true"></i></label>
                                        <input id="radio-quest4" name="estrellas" value="0" type="radio"><label class="label-star" for="radio-quest4"><i class="fa fa-star" aria-hidden="true"></i></label>
                                        <input id="radio-quest5" name="estrellas" value="0" type="radio"><label class="label-star" for="radio-quest5"><i class="fa fa-star" aria-hidden="true"></i></label>
                                    </p>
                                </fieldset>
                            </div>
                            <div class="col-lg-6">
                                <fieldset>
                                    <h5>En definitiva, laborar aquí me ha permitido ser una mejor persona</h5>
                                    <p class="clasificacion">
                                        <input id="radio-ques6" name="estrellas2" value="1" type="radio"><label class="label-star" for="radio-ques6" ><i class="fa fa-star" aria-hidden="true"></i></label>
                                        <input id="radio-quest7" name="estrellas2" value="1" type="radio"><label class="label-star" for="radio-quest7"><i class="fa fa-star" aria-hidden="true"></i></label>
                                        <input id="radio-quest8" name="estrellas2" value="0.5" type="radio"><label class="label-star" for="radio-quest8"><i class="fa fa-star" aria-hidden="true"></i></i></label>
                                        <input id="radio-quest9" name="estrellas2" value="0" type="radio"><label class="label-star" for="radio-quest9"><i class="fa fa-star" aria-hidden="true"></i></label>
                                        <input id="radio-quest10" name="estrellas2" value="0" type="radio"><label class="label-star" for="radio-quest10"><i class="fa fa-star" aria-hidden="true"></i></i></label>
                                    </p>

                                </fieldset>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <fieldset>
                                    <h5>Los valores de la empresa, como respeto y honestidad, son predicados con el ejemplo</h5>
                                    <p class="clasificacion">
                                        <input id="radio-ques11" name="estrellas3" value="1" type="radio"><label class="label-star" for="radio-ques11" ><i class="fa fa-star" aria-hidden="true"></i></label>
                                        <input id="radio-quest12" name="estrellas3" value="1" type="radio"><label class="label-star" for="radio-quest12"><i class="fa fa-star" aria-hidden="true"></i></label>
                                        <input id="radio-quest13" name="estrellas3" value="0.5" type="radio"><label class="label-star" for="radio-quest13"><i class="fa fa-star" aria-hidden="true"></i></label>
                                        <input id="radio-quest14" name="estrellas3" value="0" type="radio"><label class="label-star" for="radio-quest14"><i class="fa fa-star" aria-hidden="true"></i></label>
                                        <input id="radio-quest15" name="estrellas3" value="0" type="radio"><label class="label-star" for="radio-quest15"><i class="fa fa-star" aria-hidden="true"></i></label>
                                    </p>
                                </fieldset>
                            </div>
                            <div class="col-lg-6">
                                <fieldset>
                                    <h5>Me siento satisfecho con mi crecimiento profesional en la organización</h5>
                                    <p class="clasificacion">
                                        <input id="radio-ques16" name="estrellas4" value="1" type="radio"><label class="label-star" for="radio-ques16" ><i class="fa fa-star" aria-hidden="true"></i></label>
                                        <input id="radio-quest17" name="estrellas4" value="1" type="radio"><label class="label-star" for="radio-quest17"><i class="fa fa-star" aria-hidden="true"></i></label>
                                        <input id="radio-quest18" name="estrellas4" value="0.5" type="radio"><label class="label-star" for="radio-quest18"><i class="fa fa-star" aria-hidden="true"></i></label>
                                        <input id="radio-quest19" name="estrellas4" value="0" type="radio"><label class="label-star" for="radio-quest19"><i class="fa fa-star" aria-hidden="true"></i></label>
                                        <input id="radio-quest20" name="estrellas4" value="0" type="radio"><label class="label-star" for="radio-quest20"><i class="fa fa-star" aria-hidden="true"></i></label>
                                    </p>
                                </fieldset>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <fieldset>
                                    <h5>Mis talentos y habilidades corresponden a las tareas y responsabilidades asignadas</h5>
                                    <p class="clasificacion">
                                        <input id="radio-ques21" name="estrellas5" value="1" type="radio"><label class="label-star" for="radio-ques21" ><i class="fa fa-star" aria-hidden="true"></i></label>
                                        <input id="radio-quest22" name="estrellas5" value="1" type="radio"><label class="label-star" for="radio-quest22"><i class="fa fa-star" aria-hidden="true"></i></label>
                                        <input id="radio-quest23" name="estrellas5" value="0.5" type="radio"><label class="label-star" for="radio-quest23"><i class="fa fa-star" aria-hidden="true"></i></label>
                                        <input id="radio-quest24" name="estrellas5" value="0" type="radio"><label class="label-star" for="radio-quest24"><i class="fa fa-star" aria-hidden="true"></i></label>
                                        <input id="radio-quest25" name="estrellas5" value="0" type="radio"><label class="label-star" for="radio-quest25"><i class="fa fa-star" aria-hidden="true"></i></label>
                                    </p>
                                </fieldset>
                            </div>
                            <div class="col-lg-6">
                                <fieldset>
                                    <h5>Se me ha brindado la oportunidad de contribuir con mi talento de manera excepcional en beneficio de la organización</h5>
                                    <p class="clasificacion">
                                        <input id="radio-ques26" name="estrellas6" value="1" type="radio"><label class="label-star" for="radio-ques26" ><i class="fa fa-star" aria-hidden="true"></i></label>
                                        <input id="radio-quest27" name="estrellas6" value="1" type="radio"><label class="label-star" for="radio-quest27"><i class="fa fa-star" aria-hidden="true"></i></label>
                                        <input id="radio-quest28" name="estrellas6" value="0.5" type="radio"><label class="label-star" for="radio-quest28"><i class="fa fa-star" aria-hidden="true"></i></label>
                                        <input id="radio-quest29" name="estrellas6" value="0" type="radio"><label class="label-star" for="radio-quest29"><i class="fa fa-star" aria-hidden="true"></i></label>
                                        <input id="radio-quest30" name="estrellas6" value="0" type="radio"><label class="label-star" for="radio-quest30"><i class="fa fa-star" aria-hidden="true"></i></label>
                                    </p>
                                </fieldset>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <fieldset>
                                    <h5>He logrado mis metas personales trabajando en esta organización</h5>
                                    <p class="clasificacion">
                                        <input id="radio-ques31" name="estrellas7" value="1" type="radio"><label class="label-star" for="radio-ques31" ><i class="fa fa-star" aria-hidden="true"></i></label>
                                        <input id="radio-quest32" name="estrellas7" value="1" type="radio"><label class="label-star" for="radio-quest32"><i class="fa fa-star" aria-hidden="true"></i></label>
                                        <input id="radio-quest33" name="estrellas7" value="0.5" type="radio"><label class="label-star" for="radio-quest33"><i class="fa fa-star" aria-hidden="true"></i></label>
                                        <input id="radio-quest34" name="estrellas7" value="0" type="radio"><label class="label-star" for="radio-quest34"><i class="fa fa-star" aria-hidden="true"></i></label>
                                        <input id="radio-quest35" name="estrellas7" value="0" type="radio"><label class="label-star" for="radio-quest35"><i class="fa fa-star" aria-hidden="true"></i></label>
                                    </p>
                                </fieldset>
                            </div>
                            <div class="col-lg-6">
                                <fieldset>
                                    <h5>Considero que formo parte de un gran equipo de trabajo</h5>
                                    <p class="clasificacion">
                                        <input id="radio-ques36" name="estrellas8" value="1" type="radio"><label class="label-star" for="radio-ques36" ><i class="fa fa-star" aria-hidden="true"></i></label>
                                        <input id="radio-quest37" name="estrellas8" value="1" type="radio"><label class="label-star" for="radio-quest37"><i class="fa fa-star" aria-hidden="true"></i></label>
                                        <input id="radio-quest38" name="estrellas8" value="0.5" type="radio"><label class="label-star" for="radio-quest38"><i class="fa fa-star" aria-hidden="true"></i></label>
                                        <input id="radio-quest39" name="estrellas8" value="0" type="radio"><label class="label-star" for="radio-quest39"><i class="fa fa-star" aria-hidden="true"></i></label>
                                        <input id="radio-quest40" name="estrellas8" value="0" type="radio"><label class="label-star" for="radio-quest40"><i class="fa fa-star" aria-hidden="true"></i></label>
                                    </p>
                                </fieldset>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <fieldset>
                                    <h5>Los compañeros facilitan que cualquier persona se adapte rápidamente a la organización</h5>
                                    <p class="clasificacion">
                                        <input id="radio-ques41" name="estrellas9" value="1" type="radio"><label class="label-star" for="radio-ques41" ><i class="fa fa-star" aria-hidden="true"></i></label>
                                        <input id="radio-quest42" name="estrellas9" value="1" type="radio"><label class="label-star" for="radio-quest42"><i class="fa fa-star" aria-hidden="true"></i></label>
                                        <input id="radio-quest43" name="estrellas9" value="0.5" type="radio"><label class="label-star" for="radio-quest43"><i class="fa fa-star" aria-hidden="true"></i></label>
                                        <input id="radio-quest44" name="estrellas9" value="0" type="radio"><label class="label-star" for="radio-quest44"><i class="fa fa-star" aria-hidden="true"></i></label>
                                        <input id="radio-quest45" name="estrellas9" value="0" type="radio"><label class="label-star" for="radio-quest45"><i class="fa fa-star" aria-hidden="true"></i></label>
                                    </p>
                                </fieldset>
                            </div>
                            <div class="col-lg-6">
                                <fieldset>
                                    <h5>Esta organización brinda las mejores oportunidades de desarrollar el talento de su gente</h5>
                                    <p class="clasificacion">
                                        <input id="radio-ques46" name="estrellas10" value="1" type="radio"><label class="label-star" for="radio-ques46" ><i class="fa fa-star" aria-hidden="true"></i></label>
                                        <input id="radio-quest47" name="estrellas10" value="1" type="radio"><label class="label-star" for="radio-quest47"><i class="fa fa-star" aria-hidden="true"></i></label>
                                        <input id="radio-quest48" name="estrellas10" value="0.5" type="radio"><label class="label-star" for="radio-quest48"><i class="fa fa-star" aria-hidden="true"></i></label>
                                        <input id="radio-quest49" name="estrellas10" value="0" type="radio"><label class="label-star" for="radio-quest49"><i class="fa fa-star" aria-hidden="true"></i></label>
                                        <input id="radio-quest50" name="estrellas10" value="0" type="radio"><label class="label-star" for="radio-quest50"><i class="fa fa-star" aria-hidden="true"></i></label>
                                    </p>
                                </fieldset>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <fieldset>
                                    <h5>¿Trabajas actualmente en esta empresa?</h5>
                                    <div class="radio">
                                        <label>
                                            <input class="mostrarRadio" type="radio" name="yesno" id="optionsRadios1" value="si" checked>
                                            Si
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input class="mostrarRadio" type="radio" name="yesno" id="optionsRadios2" value="no">
                                            No
                                        </label>
                                    </div>
                                </fieldset><hr/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label for="inputOpinion" class="control-label">Tomando todo en consideración, ¿cuál es tu opinión personal de esta empresa?</label>
                                    <textarea name="generalcomment" class="form-control" rows="2" maxlength="120" placeholder="Una buena opinión debería incluir aspectos positivos y negativos."></textarea>
                                </div>
                                <button type="submit" class="pull-right btn btn-primary btn-block">Opinar</button>
                            </div>
                        </div>
                    </form>

                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="ratingModalOffline" tabindex="-1" role="dialog" aria-labelledby="ratingModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form action="{{path('user_login')}}" method="post">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="exampleModalLabel">Iniciar Sesión</h4>
                    </div>


                    <div class="form-group">
                        <label class="sr-only" for="inputEmail">Correo electrónico</label>
                        <input type="email" id="username" name="_username"  class="form-control">
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="inputPassword">Contraseña</label>
                        <input type="password" id="password" name="_password" class="form-control">
                        <div class="help-block text-right"><a href="">¿Olvidaste tu contraseña?</a></div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block">Entrar</button>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Recuerdame
                        </label>
                    </div>
                    <div class="bottom text-center">
                        ¿No tienes una cuenta? <a href="{{path("user_register")}}"><b>Regístrate</b></a>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div id="modalReclamar" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Reclamar esta empresa</h4>
                </div>
                <div class="modal-body">
                    <div class="alert alert-info">
                        <strong>Información: </strong> Para lograr la reclamación de esta empresa
                        es necesario que nos ayudes con algunos datos.
                        En breve nos comunicaremos contigo para corroborar la información.
                    </div>
                    <hr>
                    {% if app.user != null %}
                        <form action="{{ path('administrator_claimcompany',{'id':company.id, 'user_id':app.user.id}) }}" method="post">
                            <div class="form-group">
                                <input type="text" class="form-control" name="name" id="name" placeholder="Nombre">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="lastname" id="lastname" placeholder="Apellidos">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="position" id="position" placeholder="Cargo en la empresa">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="companyemail" id="companyemail" placeholder="Email empresarial">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="rfc" id="companyemail" placeholder="RFC">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="officenumber" id="officenumber" placeholder="Telefono de oficina y/o extención">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="personalnumber" id="personalnumber" placeholder="Telefono personal">
                            </div>

                            <button type="submit" class="btn btn-success btn-block btn-lg">Enviar</button>
                        </form>
                    {% endif %}
                </div>

            </div>

        </div>
    </div>
</div>
{% endblock %}
