{% extends "AppBundle:Layouts:layoutprofiles.html.twig"%}
    {% block javascripts %}
        {{parent()}}
        <script src="{{ asset('assets/js/custom/profile.js') }}"></script>
    {% endblock javascripts %}
    {% block content %}
        <section class="profile-company-header">
            <div class="container ">
                <div class="row">
                    <div class="col-lg-3">
                        {% if company.logo == null%}
                            <img class="profile-picture-company pull-right" src="{{ asset('assets/images/company-logo.png') }}"/>
                        {% else %}
                            <img class="profile-picture-company pull-right" src="{{ asset('uploads/users/'~company.logo) }}"/>
                        {% endif %}
                    </div>
                    <div class="col-lg-9 " id="user-card">
                        <h1>{{ company.tradename }}  | {{ company.businesssector}} 
                            {% if company.status == 'valid' %}
                                <span class="glyphicon glyphicon-ok-circle certify-sign"></span></h1>
                            {% endif %}
                        <h5><b>Descripción</b></h5>
                        
                        <p>Totam nihil pariatur vitae cumque maxime suscipit asperiores quaerat quae ut veritatis quibusdam corrupti facere quisquam, excepturi, temporibus quidem autem, ducimus voluptatum.</p>
                        
                        <div class="row">
                            {% set company_stats = company.id|company_stats%}
                            <div class="following-data">
                                <a href="#">
                                    <span class="label-stat">Opiniones</span>
                                    <span class="number-stat">{{company_stats.opinions}}</span>
                                </a>
                            </div>

                            <div class="following-data">
                                <a href="#">
                                    <span class="label-stat">Me gusta</span>
                                    <span class="number-stat">0</span>
                                </a>
                            </div>
                                
                            <div class="following-data">
                                <a href="#">
                                    <span class="label-stat">Calificación</span>
                                    <span class="number-stat">0</span>
                                </a>
                            </div>

                            {% if app.user == null%}
                                <div class="following-data">
                                    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#ratingModalOffline" data-whatever="@mdo">Calificar empresa</button>
                                </div>
                            {% else %} 
                                <div class="following-data">
                                    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#ratingModal" data-whatever="@mdo">Calificar empresa</button>
                                </div>
                            {% endif %}  
                        </div>
                    </div>
                </div>
            </div>
            <hr />
            <!-- /.container --> 
        </section>
        
        <div class="modal fade bs-example-modal-lg" id="ratingModal" tabindex="-1" role="dialog" aria-labelledby="ratingModal">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h3 class="modal-title" id="exampleModalLabel"><b>Tu opinion es importante</b></h3>
                        </div>
                        <div class="modal-body">
                            <form class="form-rating" action="{{ path('rate', {'id':company.id}) }}">
                                <fieldset>
                                    <h5>La empresa considera importante mi punto de vista en el desarrollo de mis actividades</h5>
                                    <p class="clasificacion">
                                        <input id="radio-ques1" name="estrellas" value="5" type="radio"><label class="label-star" for="radio-ques1" >★</label>
                                        <input id="radio-quest2" name="estrellas" value="4" type="radio"><label class="label-star" for="radio-quest2">★</label>
                                        <input id="radio-quest3" name="estrellas" value="3" type="radio"><label class="label-star" for="radio-quest3">★</label>
                                        <input id="radio-quest4" name="estrellas" value="2" type="radio"><label class="label-star" for="radio-quest4">★</label>
                                        <input id="radio-quest5" name="estrellas" value="1" type="radio"><label class="label-star" for="radio-quest5">★</label>
                                    </p>
                                </fieldset>
                                <fieldset>
                                    <h5>En definitiva laborar aqui me ha permitido ser una mejor persona</h5>
                                    <p class="clasificacion">
                                        <input id="radio-ques6" name="estrellas2" value="5" type="radio"><label class="label-star" for="radio-ques6" >★</label>
                                        <input id="radio-quest7" name="estrellas2" value="4" type="radio"><label class="label-star" for="radio-quest7">★</label>
                                        <input id="radio-quest8" name="estrellas2" value="3" type="radio"><label class="label-star" for="radio-quest8">★</label>
                                        <input id="radio-quest9" name="estrellas2" value="2" type="radio"><label class="label-star" for="radio-quest9">★</label>
                                        <input id="radio-quest10" name="estrellas2" value="1" type="radio"><label class="label-star" for="radio-quest10">★</label>
                                    </p>

                                </fieldset>

                                <fieldset>
                                    <h5>Los valores de la empresa, como respeto y honestidad, son precabidos con el ejemplo</h5>
                                    <p class="clasificacion">
                                        <input id="radio-ques11" name="estrellas3" value="5" type="radio"><label class="label-star" for="radio-ques11" >★</label>
                                        <input id="radio-quest12" name="estrellas3" value="4" type="radio"><label class="label-star" for="radio-quest12">★</label>
                                        <input id="radio-quest13" name="estrellas3" value="3" type="radio"><label class="label-star" for="radio-quest13">★</label>
                                        <input id="radio-quest14" name="estrellas3" value="2" type="radio"><label class="label-star" for="radio-quest14">★</label>
                                        <input id="radio-quest15" name="estrellas3" value="1" type="radio"><label class="label-star" for="radio-quest15">★</label>
                                    </p>
                                </fieldset>
                                <fieldset>
                                    <h5>Me siento satisfecho con mi crecimiento profesional en la organización</h5>
                                    <p class="clasificacion">
                                        <input id="radio-ques16" name="estrellas4" value="5" type="radio"><label class="label-star" for="radio-ques16" >★</label>
                                        <input id="radio-quest17" name="estrellas4" value="4" type="radio"><label class="label-star" for="radio-quest17">★</label>
                                        <input id="radio-quest18" name="estrellas4" value="3" type="radio"><label class="label-star" for="radio-quest18">★</label>
                                        <input id="radio-quest19" name="estrellas4" value="2" type="radio"><label class="label-star" for="radio-quest19">★</label>
                                        <input id="radio-quest20" name="estrellas4" value="1" type="radio"><label class="label-star" for="radio-quest20">★</label>
                                    </p>
                                </fieldset>
                                <fieldset>
                                    <h5>Mis talentos y habilidades corresponden a las tareas y responsabilidades asignadas</h5>
                                    <p class="clasificacion">
                                        <input id="radio-ques21" name="estrellas5" value="5" type="radio"><label class="label-star" for="radio-ques21" >★</label>
                                        <input id="radio-quest22" name="estrellas5" value="4" type="radio"><label class="label-star" for="radio-quest22">★</label>
                                        <input id="radio-quest23" name="estrellas5" value="3" type="radio"><label class="label-star" for="radio-quest23">★</label>
                                        <input id="radio-quest24" name="estrellas5" value="2" type="radio"><label class="label-star" for="radio-quest24">★</label>
                                        <input id="radio-quest25" name="estrellas5" value="1" type="radio"><label class="label-star" for="radio-quest25">★</label>
                                    </p>
                                </fieldset>
                                <fieldset>
                                    <h5>Se me ha brindado la oportunidad de contribuir con mi talento de manera excepcional en beneficio de la organización</h5>
                                    <p class="clasificacion">
                                        <input id="radio-ques26" name="estrellas6" value="5" type="radio"><label class="label-star" for="radio-ques26" >★</label>
                                        <input id="radio-quest27" name="estrellas6" value="4" type="radio"><label class="label-star" for="radio-quest27">★</label>
                                        <input id="radio-quest28" name="estrellas6" value="3" type="radio"><label class="label-star" for="radio-quest28">★</label>
                                        <input id="radio-quest29" name="estrellas6" value="2" type="radio"><label class="label-star" for="radio-quest29">★</label>
                                        <input id="radio-quest30" name="estrellas6" value="1" type="radio"><label class="label-star" for="radio-quest30">★</label>
                                    </p>
                                </fieldset>
                                <fieldset>
                                    <h5>He logrado mis metas personales trabajando en esta organización</h5>
                                    <p class="clasificacion">
                                        <input id="radio-ques31" name="estrellas7" value="5" type="radio"><label class="label-star" for="radio-ques31" >★</label>
                                        <input id="radio-quest32" name="estrellas7" value="4" type="radio"><label class="label-star" for="radio-quest32">★</label>
                                        <input id="radio-quest33" name="estrellas7" value="3" type="radio"><label class="label-star" for="radio-quest33">★</label>
                                        <input id="radio-quest34" name="estrellas7" value="2" type="radio"><label class="label-star" for="radio-quest34">★</label>
                                        <input id="radio-quest35" name="estrellas7" value="1" type="radio"><label class="label-star" for="radio-quest35">★</label>
                                    </p>
                                </fieldset>
                                <fieldset>
                                    <h5>Considero que formo parte de un gran equipo de trabajo</h5>
                                    <p class="clasificacion">
                                        <input id="radio-ques36" name="estrellas8" value="5" type="radio"><label class="label-star" for="radio-ques36" >★</label>
                                        <input id="radio-quest37" name="estrellas8" value="4" type="radio"><label class="label-star" for="radio-quest37">★</label>
                                        <input id="radio-quest38" name="estrellas8" value="3" type="radio"><label class="label-star" for="radio-quest38">★</label>
                                        <input id="radio-quest39" name="estrellas8" value="2" type="radio"><label class="label-star" for="radio-quest39">★</label>
                                        <input id="radio-quest40" name="estrellas8" value="1" type="radio"><label class="label-star" for="radio-quest40">★</label>
                                    </p>
                                </fieldset>
                                <fieldset>
                                    <h5>Los compañeros facilitan que cualquier persona se adapte rapidamente a la organización</h5>
                                    <p class="clasificacion">
                                        <input id="radio-ques41" name="estrellas9" value="5" type="radio"><label class="label-star" for="radio-ques41" >★</label>
                                        <input id="radio-quest42" name="estrellas9" value="4" type="radio"><label class="label-star" for="radio-quest42">★</label>
                                        <input id="radio-quest43" name="estrellas9" value="3" type="radio"><label class="label-star" for="radio-quest43">★</label>
                                        <input id="radio-quest44" name="estrellas9" value="2" type="radio"><label class="label-star" for="radio-quest44">★</label>
                                        <input id="radio-quest45" name="estrellas9" value="1" type="radio"><label class="label-star" for="radio-quest45">★</label>
                                    </p>
                                </fieldset>
                                <fieldset>
                                    <h5>Esta organización brinda las mejores oportunidades de desarrollar el talento de su gente</h5>
                                    <p class="clasificacion">
                                        <input id="radio-ques46" name="estrellas10" value="5" type="radio"><label class="label-star" for="radio-ques46" >★</label>
                                        <input id="radio-quest47" name="estrellas10" value="4" type="radio"><label class="label-star" for="radio-quest47">★</label>
                                        <input id="radio-quest48" name="estrellas10" value="3" type="radio"><label class="label-star" for="radio-quest48">★</label>
                                        <input id="radio-quest49" name="estrellas10" value="2" type="radio"><label class="label-star" for="radio-quest49">★</label>
                                        <input id="radio-quest50" name="estrellas10" value="1" type="radio"><label class="label-star" for="radio-quest50">★</label>
                                    </p>
                                </fieldset><hr/>
                                <div class="form-group">
                                    <label for="inputOpinion" class="control-label">Por ultimo, en 120 caracteres, nos gustaria saber tu opinion personal</label>
                                    <textarea name="generalcomment" class="form-control" rows="2"></textarea>
                                </div>
                                <button type="submit" class="pull-right btn btn-primary">Opinar</button>
                                <div class="clearfix"></div>
                            </form>
                        </div>
                    
                </div>
            </div>
        </div>
        <div class="modal fade" id="ratingModalOffline" tabindex="-1" role="dialog" aria-labelledby="ratingModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form action="{{path('user_login')}}" method="post">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="exampleModalLabel">Iniciar Sesión</h4>
                        </div>


                        <div class="form-group">
                            <label class="sr-only" for="inputEmail">Correo electronico</label>
                            <input type="email" id="username" name="_username"  class="form-control">
                        </div>
                        <div class="form-group">
                            <label class="sr-only" for="inputPassword">Contraseña</label>
                            <input type="password" id="password" name="_password" class="form-control">
                            <div class="help-block text-right"><a href="">¿Olvidaste tu contraseña?</a></div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block">Entrar</button>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> Recuerdame
                            </label>
                        </div>
                        <div class="bottom text-center">
                            ¿No tienes una cuenta? <a href="{{path("user_register")}}"><b>Registrate</b></a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {# con esto obtenemos el del usuario app.user.name #}
        <section class="opinions-section">
            <div class="container">
                <div class="col-lg-12">
                    {%for message in app.session.flashbag().get('status')%}
                        <div class="alert alert-success">{{message}}</div>
                    {%endfor%}
                    
                    {%for message in app.session.flashbag().get('msg')%}
                        <div class="alert alert-success">{{message}}</div>
                    {%endfor%}
                </div>
                <div class="col-lg-8">
                    <h1>Opiniones</h1>
                    {% for opinions in pagination %}
                        
                        <div class="media">
                            <div class="media-left ">
                                <a href="#">
                                    <div class="avatar">
                                        {% if opinions.user.image == null%}
                                            <img class="user-logo-opinion" src="{{ asset('assets/images/default.jpg') }}"/>
                                        {% else %}
                                            <img class="user-logo-opinion" src="{{ asset('uploads/users/'~opinions.user.image) }}"/>
                                        {% endif %}
                                    </div>
                                </a>
                            </div>

                            <div class="media-body">
                                <h5 class="media-heading"><a href="#">{{opinions.user.name}} {{opinions.user.plastname}}</a>
                                    {% if app.user == null %}

                                    {% else %}
                                        {% if opinions.user.id == app.user.id %}
                                            <div class="btn-group pull-right">
                                                <button class="btn btn-link btn-xs dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu">
                                                    <li><a class="btn-delete-pub" data-id="{{ opinions.id }}">Eliminar</a></li>

                                                </ul>
                                            </div> 
                                        {% endif %}
                                    {% endif%}
                                    <span class="pull-right text-muted">{{opinions.createdAt|long_time}}</span>

                                </h5>
                                <p>{{opinions.generalcomment}}</p>


                                {#  
                                    Esta condicion es para cuando en los comentarios publiquen imagenes o documentos
                                    Falta agregar a la base de datos el campo document y images.
                                    Necesitamos agregar igual la condicion para la imagen 
                                #}

                                {#{% if(opinions.document is defined ) and (opinions.document != null) %}
                                    <a href="{{ asset('assets/opinions/documment'~opinions.document)}}" class="btn-doc glyphicon glyphicon-save" aria-hidden="true" target="_blank"></a>
                                {% endif %}#}

                                <div class="like">
                                    {% if app.user == null%}

                                    {% else %}
                                        <span data-id="{{opinions.id}}" class="
                                            {% if app.user|liked(opinions) == true%}
                                              hidden
                                            {% endif %}
                                          btn-like glyphicon glyphicon-heart" 
                                            aria-hidden="true" 
                                            data-toggle="tooltip" 
                                            data-placement="left" 
                                            title="Me gusta">
                                        </span>
                                    {% endif %}

                                    {% if app.user == null%}

                                    {% else %}    
                                        <span data-id="{{opinions.id}}" class="
                                              {% if app.user|liked(opinions) == false%}
                                          hidden
                                              {% endif %}
                                      btn-unlike active glyphicon glyphicon-heart" 
                                              aria-hidden="true" 
                                              data-toggle="tooltip" 
                                              data-placement="left" 
                                              title="Ya no me gusta">
                                        </span>
                                    {% endif %}
                                </div><hr>
                                
                                <div class="media">
                                    
                                    
                                    {% for comments in comments%}
                                        {% if comments.opinion.id == opinions.id %}
                                            <div class="media-left">
                                                <div class="avatar">
                                                    {% if comments.user.image == null%}
                                                        <img class="user-logo-opinion" src="{{ asset('assets/images/default.jpg') }}"/>
                                                    {% else %}
                                                        <img class="user-logo-opinion" src="{{ asset('uploads/users/'~comments.user.image) }}"/>
                                                    {% endif %}
                                                </div>
                                            </div>
                                                       
                                            <div class="media-body">
                                                
                                                <h5 class="media-heading"><a href="#">{{comments.user.name}} {{comments.user.plastname}}</a>
                                                    <span class="pull-right text-muted">{{comments.createdAt|long_time}}</span>
                                                </h5>
                                                
                                                
                                                <p>{{ comments.body }}</p>
                                                
                                                {% if comments.image != null%}
                                                    <img class="" width="200" src="{{ asset('uploads/comments/images/'~comments.image) }}"/>
                                                {% endif %}
                                                
                                            </div>
                                            
                                            <div class="clearfix"></div>
                                        {% else %}
                                            
                                        {% endif %}
                                        
                                    {% endfor %}
                                                       
                                    <form method="post" enctype="multipart/form-data" class="comment-form" action="{{ path('comment_crate', {'id':company.id, 'opinion_id':opinions.id}) }}" >
                                        <div class="form-group">
                                            <label for="nameInput">Agregar comentario</label>
                                            <textarea type="text" class="form-control" id="nameInput" placeholder="Escribe tu comentario..." name="comment" rows="2" cols="80"></textarea>
                                            <br />
                                            <button type="submit" class="btn btn-default pull-right">Comentar</button> 
                                            
                                            <label for="file" class="pull-right label-img"><span class="glyphicon glyphicon-picture"></span></label>
                                            <input id="file" name="image" type="file" >
                                        </div>
                                    </form>
                                    
                                </div>
                            </div>   
                        </div>                  
                        <hr />
                    {% endfor %}
                </div>
            </div>
        </section>
            
              
            <div class="pagination">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
    {% endblock %}
