{% extends "AppBundle:Layouts:layout.html.twig"%}
{% block javascripts %}
    {{parent()}}
    
{% endblock javascripts %}

{% block content %}
    <div class="col-lg-10 box-default profile-box">
        <div class="avatar">
            {% if company.logo == null%}
                <img src="{{ asset('assets/images/company-logo.png') }}"/>
            {% else %}
                <img src="{{ asset('uploads/users/'~company.logo) }}"/>
            {% endif %}
        </div>
        
        <div class="user-item-content">
            {# enlace al perfil de la empresa #}
            <p><a href="">{{ company.businessname }}</a> | {{ company.businesssector}}</p>
            <p>{{ company.description }}</p>
        </div>
        <div class="clearfix"></div>
        
        <div class="user-opinions">
            {% for opinions in pagination %}
                <div class=" opinion-item">
                    <div class="media-left ">
                        <a href="#">
                            <div class="avatar">
                                {% if opinions.user.image == null%}
                                    <img src="{{ asset('assets/images/default.jpg') }}"/>
                                {% else %}
                                    <img src="{{ asset('uploads/users/'~opinions.user.image) }}"/>
                                {% endif %}
                            </div>
                        </a>
                    </div>

                    <div class="media-body">
                        <h5 class="media-heading"><a href="#">{{opinions.user.name}} {{opinions.user.plastname}}</a>
                            {% if(opinions.user.id is defined) and (opinions.user.id == app.user.id) %}
                                <div class="btn-group pull-right">
                                    <button class="btn btn-link btn-xs dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a class="btn-delete-pub" data-id="{{ opinions.id }}">Eliminar</a></li>

                                    </ul>
                                </div>
                            {% endif %}

                            <span class="pull-right">{{opinions.createdAt|long_time}}</span>

                        </h5>
                        <p>{{opinions.generalcomment}}</p>


                        {#  
                            Esta condicion es para cuando en los comentarios publiquen imagenes o documentos
                            Falta agregar a la base de datos el campo document y images.
                            Necesitamos agregar igual la condicion para la imagen 
                        #}

                        {#{% if(opinions.document is defined ) and (opinions.document != null) %}
                            <a href="{{ asset('assets/opinions/documment'~opinions.document)}}" class="btn-doc glyphicon glyphicon-save" aria-hidden="true" target="_blank"></a>
                        {% endif %}#}

                        <div class="like">
                            <span data-id="{{opinions.id}}" class="btn-like glyphicon glyphicon-heart" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="Me gusta"></span>
                        </div>

                    </div>
                    <hr />
                </div>
            {% endfor %}
            
            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
{% endblock %}