{% extends "AppBundle:Layouts:layoutprofiles.html.twig"%}
    {% block javascripts %}
        {{parent()}}
        <script src="{{ asset('assets/js/custom/profile.js') }}"></script>
    {% endblock javascripts %}
    {% block content %}
        <section class="profile-company-header">
            <div class="container ">
                <div class="row">
                    <div class="col-lg-3">
                        {% if company.logo == null%}
                            <img class="profile-picture-company pull-right" src="{{ asset('assets/images/company-logo.png') }}"/>
                        {% else %}
                            <img class="profile-picture-company pull-right" src="{{ asset('uploads/users/'~company.logo) }}"/>
                        {% endif %}
                    </div>
                    <div class="col-lg-9 " id="user-card">
                        <h1>{{ company.tradename }} | {{ company.businesssector}} <span class="glyphicon glyphicon-ok-circle certify-sign"></span></h1>
                        <h5><b>Descripción</b></h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam nihil pariatur vitae cumque maxime suscipit asperiores quaerat quae ut veritatis quibusdam corrupti facere quisquam, excepturi, temporibus quidem autem, ducimus voluptatum.</p>

                        <div class="following-data">
                            <a href="#">
                                <span class="label-stat">Opiniones</span>
                                <span class="number-stat">0</span>
                            </a>
                        </div>

                        <div class="following-data">
                            <a href="#">
                                <span class="label-stat">Me gusta</span>
                                <span class="number-stat">0</span>
                            </a>
                        </div>
                        {% if app.user == null%}
                            <div class="following-data">
                                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#ratingModalOffline" data-whatever="@mdo">Calificar empresa</button>
                            </div>
                        {% else %} 
                            <div class="following-data">
                                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#ratingModal" data-whatever="@mdo">Calificar empresa</button>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <hr />
            <!-- /.container --> 
        </section>
        
        <div class="modal fade bs-example-modal-lg" id="ratingModal" tabindex="-1" role="dialog" aria-labelledby="ratingModal">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <form action="">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="exampleModalLabel">Tu opinion es importante</h4>
                        </div>
                        <div class="modal-body">
                            <h5>La empresa considera importante mi punto de vista en el desarrollo de mis actividades</h5>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <h5>En definitiva laborar aqui me ha permitido ser una mejor persona</h5>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <h5>Los valores de la empresa, como respeto y honestidad, son precabidos con el ejemplo</h5>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <h5>Me siento satisfecho con mi crecimiento profesional en la organización</h5>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <h5>Mis talentos y habilidades corresponden a las tareas y responsabilidades asignadas</h5>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <h5>Se me ha brindado la oportunidad de contribuir con mi talento de manera excepcional en beneficio de la organización</h5>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <h5>He logrado mis metas personales trabajando en esta organización</h5>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <h5>Considero que formo parte de un gran equipo de trabajo</h5>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <h5>Los compañeros facilitan que cualquier persona se adapte rapidamente a la organización</h5>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <h5>Esta organización brinda las mejores oportunidades de desarrollar el talento de su gente</h5>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <div class="form-group">
                                <label for="inputOpinion" class="control-label">Por ultimo, en 120 caracteres, nos gustaria saber tu opinion personal</label>
                                <textarea class="form-control" rows="2"></textarea>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary">Opinar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal fade" id="ratingModalOffline" tabindex="-1" role="dialog" aria-labelledby="ratingModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form action="{{path('login_check')}}" method="post">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="exampleModalLabel">Iniciar Sesión</h4>
                        </div>


                        <div class="form-group">
                            <label class="sr-only" for="inputEmail">Correo electronico</label>
                            <input type="email" id="username" name="_username"  class="form-control">
                        </div>
                        <div class="form-group">
                            <label class="sr-only" for="inputPassword">Contraseña</label>
                            <input type="password" id="password" name="_password" class="form-control">
                            <div class="help-block text-right"><a href="">¿Olvidaste tu contraseña?</a></div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block">Entrar</button>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> Recuerdame
                            </label>
                        </div>
                        <div class="bottom text-center">
                            ¿No tienes una cuenta? <a href="{{path("register")}}"><b>Registrate</b></a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {# con esto obtenemos el del usuario app.user.name #}
        <section class="opinions-section">
            <div class="container">
                <div class="col-lg-8">
                    <h1>Opiniones</h1>
                    {% for opinions in pagination %}
                        
                        <div class="media">
                            <div class="media-left ">
                                <a href="#">
                                    <div class="avatar">
                                        {% if opinions.user.image == null%}
                                            <img class="user-logo-opinion" src="{{ asset('assets/images/default.jpg') }}"/>
                                        {% else %}
                                            <img class="user-logo-opinion" src="{{ asset('uploads/users/'~opinions.user.image) }}"/>
                                        {% endif %}
                                    </div>
                                </a>
                            </div>

                            <div class="media-body">
                                <h5 class="media-heading"><a href="#">{{opinions.user.name}} {{opinions.user.plastname}}</a>
                                        {% if app.user == null %}
                                            
                                        {% else %}
                                            {% if opinions.user.id == app.user.id %}
                                                <div class="btn-group pull-right">
                                                    <button class="btn btn-link btn-xs dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        <span class="caret"></span>
                                                    </button>
                                                    <ul class="dropdown-menu">
                                                        <li><a class="btn-delete-pub" data-id="{{ opinions.id }}">Eliminar</a></li>

                                                    </ul>
                                                </div> 
                                            {% endif %}
                                        {% endif%}
                                    <span class="pull-right">{{opinions.createdAt|long_time}}</span>

                                </h5>
                                <p>{{opinions.generalcomment}}</p>


                                {#  
                                    Esta condicion es para cuando en los comentarios publiquen imagenes o documentos
                                    Falta agregar a la base de datos el campo document y images.
                                    Necesitamos agregar igual la condicion para la imagen 
                                #}

                                {#{% if(opinions.document is defined ) and (opinions.document != null) %}
                                    <a href="{{ asset('assets/opinions/documment'~opinions.document)}}" class="btn-doc glyphicon glyphicon-save" aria-hidden="true" target="_blank"></a>
                                {% endif %}#}

                                <div class="like">
                                    {% if app.user == null%}

                                    {% else %}
                                        <span data-id="{{opinions.id}}" class="
                                              {% if app.user|liked(opinions) == true%}
                                          hidden
                                              {% endif %}
                                      btn-like glyphicon glyphicon-heart" 
                                              aria-hidden="true" 
                                              data-toggle="tooltip" 
                                              data-placement="left" 
                                              title="Me gusta">
                                        </span>
                                    {% endif %}

                                    {% if app.user == null%}

                                    {% else %}    
                                        <span data-id="{{opinions.id}}" class="
                                              {% if app.user|liked(opinions) == false%}
                                          hidden
                                              {% endif %}
                                      btn-unlike active glyphicon glyphicon-heart" 
                                              aria-hidden="true" 
                                              data-toggle="tooltip" 
                                              data-placement="left" 
                                              title="Ya no me gusta">
                                        </span>
                                    {% endif %}
                                </div>
                                <div class="media">
                                    <label for="nameInput">Comentarios</label>
                                    <div class="media-left">
                                        <a href="#">
                                            <div class="avatar">
                                                <img class="user-logo-opinion" src="{{ asset('assets/images/default.jpg') }}"/>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <h4 class="media-heading">Media heading</h4>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos, voluptatibus, repellendus! Ullam enim libero dignissimos, atque tenetur assumenda, qui iure harum in, voluptatibus saepe quam repellendus. Fuga cupiditate pariatur ut.</p>
                                    </div>
                                    <form action="">
                                        <div class="form-group">
                                            <label for="nameInput">Agregar comentario</label>
                                            <textarea type="text" class="form-control" id="nameInput" placeholder="Escribe tu comentario..." name="name" rows="2" cols="80"></textarea>
                                            <br>
                                            <button type="submit" class="btn btn-default pull-right">Comentar</button>
                                        </div>
                                    </form>
                                </div>
                            </div>   
                        </div>
                        <hr />
                    {% endfor %}
                </div>
            </div>
        </section>
            
              
            <div class="pagination">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
    {% endblock %}
