{% extends "AppBundle:Layouts:layoutprofiles.html.twig"%}
{% block javascripts %}
    {{parent()}}
    <script src="{{ asset('assets/js/custom/companies.js') }}"></script>
{% endblock javascripts %}
{% block content %}
    <section class="register-company-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h1>Da de alta una empresa</h1>
                    <img src="{{ asset('assets/images/myjobsadvisor-registrar-empresa.png')}}" class="img-responsive img-register" widthalt="">
                </div> 
                <div class="col-lg-6 box-form">
                    <div class="panel panel-default">
                        <div class="panel-heading"><h4>Ingresa los datos de la empresa</h4></div>
                        <div class="panel-body">
                            {{form_start(form, {'action':'', 'method':'POST'})}}
                            {{form_errors(form)}}
                           
                            <div class="col-lg-12 form-group">
                                {{form_row(form.tradename)}}
                            </div>
                            
                            <div class="col-lg-7 form-group">
                                {{form_row(form.rfc)}}
                            </div>
                            <div class="col-lg-5 form-group">
                                {{form_row(form.businesssector)}}
                            </div>
                            <div class="col-lg-12 form-group">
                                {{form_row(form.website)}}
                            </div>
                            
                            <div class="col-lg-12 form-group">
                                {{form_row(form.description)}}
                            </div>
                            
                            <div class="col-lg-12 form-group">
                                <label>¿Eres representante de la empresa?</label><br>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="optionsRadios" id="mostrar" value="si">
                                        Si
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="optionsRadios" id="ocultar" value="no" checked>
                                        No
                                    </label>
                                </div>
                            </div>
                            
                            
                            
                            <div class="repdiv">
                                <div class="col-lg-12 form-group">
                                    <h4 class="">Datos del  representante</h4>
                                    <hr>
                                </div>
                                <div class="col-lg-6 form-group">
                                    {{form_row(form.contacname)}}
                                </div>
                                <div class="col-lg-6 form-group">
                                    {{form_row(form.contactlastname)}}
                                </div>
                                <div class="col-lg-6 form-group">
                                    {{form_row(form.position)}}
                                </div>
                                <div class="col-lg-6 form-group">
                                    {{form_row(form.businessemail)}}
                                </div>
                                <div class="col-lg-7 form-group">
                                    {{form_row(form.telephoneext)}}
                                </div>
                                <div class="col-lg-5 form-group">
                                    {{form_row(form.personalnumber)}}
                                </div>
                                
                            </div>
                                
                            <div class="col-lg-12">
                                {{form_row(form.Registrar)}}
                            </div> 
                            
                             
                            {{form_end(form)}}
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    


{% endblock %}