{% extends "AppBundle:Layouts:layoutprofiles.html.twig"%}

{% block javascripts %}
    {{ parent() }}
     <script src="{{ asset('assets/js/custom/companies.js') }}"></script>
{% endblock %}

{% block content %}
 
    <section class="result-company-section">
        <div class="row">
            <div class="container">
                <div class="col-lg-12">
                    <h1>Empresas que no están validadas</h1>
                    <div class="count">
                        <span class="label label-primary">
                            Total de resultados: {{ pagination.getTotalItemCount }}
                        </span>
                    </div>
                    <hr/>


                    
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Nombre</th>
                                <th>RFC</th>
                                <th>Sector</th>
                                <th>Representante</th>
                                <th>Ext. Representante</th>
                                <th>Email de Representante</th>
                                <th>Estado</th>
                                <th>Acción</th>
                            </tr>
                        </thead>
                        {# usamos la variable company para recorrer cada resultado y mostrarlos #}
                        {% for company in pagination %}
                            <tbody>
                                <tr>
                                    <td>{{ company.id }}</td>
                                    <td>{{ company.tradename }}</td>
                                    <td>{{ company.rfc }}</td>
                                    <td>{{ company.businesssector }}</td>
                                    <td>{{ company.contacname }}</td>
                                    <td>{{ company.telephoneext }}</td>
                                    <td>{{ company.businessemail }}</td>
                                    <td>{{ company.status }}</td>
                                    <td><button type="button" class="btn btn-success">Validar</button></td>
                                </tr>
                            </tbody>
                        {% endfor %}
                    </table>
                    

                    {# modificar el js para el scroll infinito #}
                    <div class="navigation">
                        {{ knp_pagination_render(pagination) }}
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </section>
    
    
{%endblock%}