{% extends "AppBundle:Layouts:layoutprofiles.html.twig"%}

{% block javascripts %}
    {{ parent() }}
     <script src="{{ asset('assets/js/custom/companies.js') }}"></script>
{% endblock %}

{% block content %}
 
    <section class="result-company-section">
        <div class="row">
            <div class="container">
                <div class="col-lg-12">
                    <h1>Comentarios pendientes</h1>
                    <div class="count">
                        <span class="label label-primary">
                            Total de resultados: {{ pagination.getTotalItemCount }}
                        </span>
                    </div>
                    <hr/>

                    <a href="{{ path("administrator_index") }}"><span class="glyphicon glyphicon-arrow-left"></span> Regresar</a> 
                    
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Creador</th>
                                <th>Comentario</th>
                                <th>Creacion</th>
                                <th>Acción</th>
                            </tr>
                        </thead>
                        {# usamos la variable company para recorrer cada resultado y mostrarlos #}
                        {% for comment in pagination %}
                            <tbody>
                                <tr>
                                    <td>{{ comment.id }}</td>
                                    <td>{{ comment.user.name }}</td>
                                    <td>{{ comment.body }}</td>
                                    <td>{{ comment.createdAt|date("D d M Y") }}</td>
                                    <td>
                                        <button type="button" class="btn btn-success ">Validar</button>
                                        <button type="button" class="btn btn-info">Editar</button>
                                    </td>
                                </tr>
                            </tbody>
                        {% endfor %}
                    </table>
                    {# modificar el js para el scroll infinito #}
                    <div class="navigation">
                        {{ knp_pagination_render(pagination) }}
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </section>
    
    
{%endblock%}