<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Panel de Administración</title>


        <link href="{{ asset('assets/css/bootstrap.min.css')}}" type="text/css" rel="stylesheet">
        <link href="{{ asset('assets/css/admin.css')}}" type="text/css" rel="stylesheet">
        <link href="{{ asset('assets/css/font-awesome.min.css')}}" rel="stylesheet">

        <script src="{{ asset('assets/js/jquery.min.js') }}"></script>
        <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('assets/js/jquery-ias.min.js') }}"></script>

    </head>

    <body>

        <div id="wrapper">

            <!-- Navigation -->
            <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html">MyJobsAdvisor</a>
                </div>
                <!-- Top Menu Items -->
                <ul class="nav navbar-right top-nav">

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> Administrador <b class="caret"></b></a>
                        <ul class="dropdown-menu">

                            <li>
                                <a href="{{ path('administrador_logout') }}"><i class="fa fa-fw fa-power-off"></i> Salir </a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    <ul class="nav navbar-nav side-nav">
                        <li class="">
                            <a href="{{ path('administrator_index') }}"><i class="fa fa-building" aria-hidden="true"></i> Empresas sin validar {% for empresas in empresas %} <span class="badge pull-right">{{empresas}}</span>{% endfor %}</a>

                        </li>
                        <li>
                            <a href="{{ path('administrator_comment') }}"><i class="fa fa-comments" aria-hidden="true"></i> Comentarios sin validar {% for comentarios in comentarios %} <span class="badge pull-right">{{comentarios}}</span>{% endfor %}</a>
                        </li>
                        <li>
                            <a href="{{ path('administrator_claim') }}"><i class="fa fa-gavel" aria-hidden="true"></i> Reclamaciones {% for claims in claims %} <span class="badge pull-right">{{claims}}</span>{% endfor %}</a>
                        </li>
                        <li>
                            <a href="{{ path('administrator_user') }}"><i class="fa fa-users" aria-hidden="true"></i> Administrar usuarios {% for usuarios in usuarios %} <span class="badge pull-right">{{usuarios}}</span>{% endfor %}</a>
                        </li>
                        <li>
                            <a href="{{ path('administrator_allcompanies') }}"><i class="fa fa-list-alt" aria-hidden="true"></i> Administrar empresas {% for todas_empresas in todas_empresas %} <span class="badge pull-right">{{todas_empresas}}</span>{% endfor %}</a>
                        </li>
                        <li>
                            <a href="{{ path('administrator_graficar') }}"><i class="fa fa-bar-chart" aria-hidden="true"></i> Estadísticas </a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </nav>

            <div id="page-wrapper">

                <div class="container-fluid">

                    <h2 class="page-header">Administrar empresas</h2>
                    {%for message in app.session.flashbag().get('msg')%}
                        <div class="alert alert-success">{{message}}</div>
                    {%endfor%}        
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Nombre</th>
                                    <th>RFC</th>
                                    <th>Sector</th>
                                    <th>Sitio Web</th>
                                    <th>Creado</th>
                                    <th>Calificación</th>
                                    <th>Acción</th>
                                </tr>
                            </thead>
                            {# usamos la variable company para recorrer cada resultado y mostrarlos #}
                            
                            {% for companies in pagination %}
                                
                                <tbody>
                                    <tr>
                                        <td>{{ companies.id }}</td>
                                        <td>{{ companies.tradename }}</td>
                                        <td>{{ companies.rfc }}</td>
                                        <td>{{ companies.businesssector }}</td>
                                        <td>{{ companies.website}}</td>
                                        <td>{{ companies.createdAt|date("D d M Y") }}</td>  
                                        
                                        {% for avg in general_avg %}
                                            {% if companies.id == avg.company %}
                                                <td>{{ avg.promedio }}</td>
                                            {% endif %}
                                         
                                        {% endfor %}
                                        <td>
                                            <a href="{{path("administrator_edit_company", {"id":companies.id})}}" type="button" class="btn btn-info btn-xs" data-toggle="tooltip" data-placement="left" title="Eliminar" data-original-title=""><i class="fa fa-edit" aria-hidden="true"></i></a>
                                            <a href="{{ path("company_profile", {"id":companies.id})}}" type="button" class="btn btn-success btn-xs" data-toggle="tooltip" data-placement="left" title="Ver" data-original-title=""><i class="fa fa-search" aria-hidden="true"></i></a>
                                            <a href="{{path("administrator_delete_companies", {"id":companies.id})}}" type="button" class="btn btn-danger btn-xs" data-toggle="tooltip" data-placement="left" title="Eliminar" data-original-title=""><i class="fa fa-trash" aria-hidden="true"></i></a>
                                        </td>
                                    </tr>
                                </tbody>
                            {% endfor %}
                        </table>
                    </div>
                    {# modificar el js para el scroll infinito #}
                    <div class="navigation text-center">
                        {{ knp_pagination_render(pagination) }}
                    </div>
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- /#page-wrapper -->
        </div>
        <!-- /#wrapper -->
    </body>

</html>
