{% extends "AppBundle:Layouts:layoutprofiles.html.twig"%}

{% block javascripts %}
    {{ parent() }}
    <!--<script src="{{ asset('assets/js/custom/companies.js') }}"></script>-->
{% endblock %}

{% block content %}
    <section class="comment-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <h2 class="page-header">Opciones</h2>
                    <ul class="list-group">
                        <a href="{{ path('administrator_index') }}" class="list-group-item list-group-item-info"><i class="fa fa-check-circle" aria-hidden="true"></i>Empresas sin validar {% for empresas in empresas %} <span class="badge">{{empresas}}</span>{% endfor %}</a>
                        <a href="{{ path('administrator_comment') }}" class="list-group-item list-group-item-info"><i class="fa fa-comments" aria-hidden="true"></i>Comentarios sin validar {% for comentarios in comentarios %} <span class="badge">{{comentarios}}</span>{% endfor %}</a>
                        <a href="{{ path('administrator_claim') }}" class="list-group-item list-group-item-warning"><i class="fa fa-gavel" aria-hidden="true"></i>Reclamaciones {% for claims in claims %} <span class="badge">{{claims}}</span>{% endfor %}</a>
                        <a href="{{ path('administrator_user') }}" class="list-group-item list-group-item-danger"><i class="fa fa-address-book" aria-hidden="true"></i>Administrar usuarios {% for usuarios in usuarios %} <span class="badge">{{usuarios}}</span>{% endfor %}</a>
                        <a href="{{ path('administrator_allcompanies') }}" class="list-group-item list-group-item-danger"><i class="fa fa-building" aria-hidden="true"></i>Administrar empresas {% for todas_empresas in todas_empresas %} <span class="badge">{{todas_empresas}}</span>{% endfor %}</a>
                    </ul>
                </div>
                <div class="col-lg-9">
                    <h2 class="page-header">Comentarioss pendientes por validar</h2>
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Creador</th>
                                    <th>Comentario</th>
                                    <th>Creacion</th>
                                    <th>Acción</th>
                                </tr>
                            </thead>
                            {# usamos la variable company para recorrer cada resultado y mostrarlos #}
                            {% for comment in pagination %}
                                <tbody>
                                    <tr>
                                        <td>{{ comment.id }}</td>
                                        <td>{{ comment.user.name }}</td>
                                        <td>{{ comment.body }}</td>
                                        <td>{{ comment.createdAt|date("D d M Y") }}</td>
                                        <td>
                                            <a href="{{ path('administrator_validate_comment', {'id':comment.id}) }}" type="button" class="btn btn-xs btn-success "><i class="fa fa-check" aria-hidden="true"></i></a>
                                            <a type="button" class="btn btn-xs btn-info"><i class="fa fa-edit" aria-hidden="true"></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                            {% endfor %}
                        </table>
                    </div>
                    {# modificar el js para el scroll infinito #}
                    <div class="navigation text-center">
                        {{ knp_pagination_render(pagination) }}
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </section>

{%endblock%}