{% extends "AppBundle:Layouts:layoutprofiles.html.twig"%}

{% block javascripts %}
    {{ parent() }}
     <script src="{{ asset('assets/js/custom/companies.js') }}"></script>
{% endblock %}

{% block content %}
 
    <section class="result-company-section">
        <div class="row">
            <div class="container">
                <div class="col-lg-12">
                    <h1>Administrar empresas</h1>
                    <div class="count">
                        <span class="label label-primary">
                            Total de resultados: {{ pagination.getTotalItemCount }}
                        </span>
                    </div>
                    <hr/>

                    {%for message in app.session.flashbag().get('msg')%}
                        <div class="alert alert-success">{{message}}</div>
                    {%endfor%}        
                    
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Nombre comercial</th>
                                <th>RFC</th>
                                <th>Sector</th>
                                <th>Sitio Web</th>
                                <th>Teléfono</th>
                                <th>Creado</th>
                                <th>Acción</th>
                            </tr>
                        </thead>
                        {# usamos la variable company para recorrer cada resultado y mostrarlos #}
                        {% for companies in pagination %}
                            <tbody>
                                <tr>
                                    <td>{{ companies.id }}</td>
                                    <td>{{ companies.tradename }}</td>
                                    <td>{{ companies.rfc }}</td>
                                    <td>{{ companies.businesssector }}</td>
                                    <td>www.empresa.com </td>
                                    <td>1234567891</td>
                                    <td>{{ companies.createdAt|date("D d M Y") }}</td>
                                    <td>
                                        <button type="button" class="btn btn-success">Ver</button>
                                        <a href="{{ path("companies_edit", {"id":companies.id})}}"  class="btn btn-info">Editar</a>
                                        <a href="{{path("administrator_delete_companies", {"id":companies.id})}}" class="btn btn-danger">Eliminar</a>
                                    </td>
                                </tr>
                            </tbody>
                        {% endfor %}
                    </table>
                    {# modificar el js para el scroll infinito #}
                    <div class="navigation">
                        {{ knp_pagination_render(pagination) }}
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </section>
    
    
{%endblock%}