{% extends "AppBundle:Layouts:layoutprofiles.html.twig"%}

{% block content %}
    <div class="container">
        <div class="col-lg-12">
            <h1>Panel de administrador</h1>
            <hr />
        </div>

        <div class="row">
            <div class="container">
                <div class="col-lg-3">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <h2><span class="span-validate glyphicon glyphicon-alert"></span></h2>
                                </div>
                                <div class="col-xs-9 text-right">
                                    {% for empresas in empresas %}
                                        <h4 class="huge">{{empresas}}</h4>
                                    {% endfor %}
                                    <p>Empresas sin validar</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <a href="{{path("administrator_company")}}">Ver detalles</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <h2><span class="span-validate glyphicon glyphicon-comment"></span></h2>
                                </div>
                                <div class="col-xs-9 text-right">
                                    {% for comentarios in comentarios %}
                                        <h4 class="huge">{{comentarios}}</h4>
                                    {% endfor %}
                                  
                                    <p>Comentario sin validar</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <a href="{{ path("administrator_comment")}}">Ver detalles</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="panel panel-danger">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <h2><span class="span-validate glyphicon glyphicon-user"></span></h2>
                                </div>
                                <div class="col-xs-9 text-right">
                                    {% for usuarios in usuarios %}
                                        <h4 class="huge">{{usuarios}}</h4>
                                    {% endfor %}
                                    <p>Administrar usuarios</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <a href="{{path("administrator_user")}}">Ver detalles</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="panel panel-danger">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <h2><span class="span-validate glyphicon glyphicon-remove-circle"></span></h2>
                                </div>
                                <div class="col-xs-9 text-right">
                                    {% for todas_empresas in todas_empresas %}
                                        <h4 class="huge">{{todas_empresas}}</h4>
                                    {% endfor %}
                                    <p>Administrar empresas</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <a href="{{path("administrator_allcompanies")}}">Ver detalles</a>
                        </div>
                    </div>
                </div> 
            </div>

        </div>
                        
        <div class="col-lg-12">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <i class="fa fa-bell fa-fw"></i> Reclamaciones
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Apellido</th>
                                <th>Empresa a reclamar</th>
                                <th>Cargo</th>
                                <th>Email empresarial</th>
                                <th># de telefono oficina/ext</th>
                                <th># de telefono personal</th>
                                <th>Acción</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                    
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
    </div>
{%endblock%}