{% extends "AppBundle:Layouts:layout.html.twig"%}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/custom/companies.js') }}"></script>
{% endblock %}

{% block content %}
    <section class="how-we-work-for-you-section">
        <div class="container">
            <div class="col-lg-12 text-center">
                <h4>Nuestro proceso</h4>
                <h1>¿Cómo trabajamos para ti?</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae illum dolorem, rem officia, id explicabo sapiente</p>
            </div>
            <div class="col-lg-4 text-center">
                <h4>Aqui va un punto</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit adipisci consequuntur suscipit, optio itaque culpa voluptas, nesciunt sunt facere ipsa aut, accusantium voluptatibus deleniti error, obcaecati ex maxime voluptates praesentium!</p>
            </div>
            <div class="col-lg-4 text-center">
                <h4>Aqui va un punto</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit adipisci consequuntur suscipit, optio itaque culpa voluptas, nesciunt sunt facere ipsa aut, accusantium voluptatibus deleniti error, obcaecati ex maxime voluptates praesentium!</p>
            </div>
            <div class="col-lg-4 text-center">
                <h4>Aqui va un punto</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit adipisci consequuntur suscipit, optio itaque culpa voluptas, nesciunt sunt facere ipsa aut, accusantium voluptatibus deleniti error, obcaecati ex maxime voluptates praesentium!</p>
            </div>
        </div>
    </section><hr>

    <section class="companies-from-myjobsadvisor">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h4>Empresas</h4>
                    <h1>Algunas empresas registradas en MyJobsAdvisor</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae illum dolorem, rem officia, id explicabo sapiente</p>
                </div>
                <div class="col-lg-2">
                    <a href="#" class="thumbnail">
                        <img src="{{ asset('assets/images/company-logo.png') }}" alt="...">
                    </a>
                </div>
                <div class="col-lg-2">
                    <a href="#" class="thumbnail">
                        <img src="{{ asset('assets/images/company-logo.png') }}" alt="...">
                    </a>
                </div>
                <div class="col-lg-2">
                    <a href="#" class="thumbnail">
                        <img src="{{ asset('assets/images/company-logo.png') }}" alt="...">
                    </a>
                </div>
                <div class="col-lg-2">
                    <a href="#" class="thumbnail">
                        <img src="{{ asset('assets/images/company-logo.png') }}" alt="...">
                    </a>
                </div>
                <div class="col-lg-2">
                    <a href="#" class="thumbnail">
                        <img src="{{ asset('assets/images/company-logo.png') }}" alt="...">
                    </a>
                </div>
                <div class="col-lg-2">
                    <a href="#" class="thumbnail">
                        <img src="{{ asset('assets/images/company-logo.png') }}" alt="...">
                    </a>
                </div>
            </div>
        </div>
    </section><hr>

    <section class="recent-opinion">
        <div class="container">
            <div class="col-lg-12 text-center">
                <h4>Opiniones</h4>
                <h1>Se parte de cientos de opiniones</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae illum dolorem, rem officia, id explicabo sapiente</p>
            </div>
            <div class="col-lg-8">
                <table class="table table-hover">
                    <tr>
                        <th>Imagen</th>
                        <th>Empresa</th>
                        <th>Opinado por</th>
                        <th>Cantidad de opiniones</th>
                    </tr>
                    <tr>
                        <td><img src="{{ asset('assets/images/company-logo.png') }}" class="img-responsive" width="50" alt=""></td>
                        <td>Hotel Vidanta SA de CV</td>
                        <td>Smith</td>
                        <td>50</td>
                    </tr>
                    <tr>
                        <td><img src="{{ asset('assets/images/company-logo.png') }}" class="img-responsive" width="50" alt=""></td>
                        <td>Liverpool</td>
                        <td>Jackson</td>
                        <td>94</td>
                    </tr>
                </table>
            </div>
        </div>
    </section><hr>

    <section class="register-company-section-index">
        <div class="container">
            <div class="col-lg-12 text-center">
                <h4></h4>
                <h1>Registra una empresa</h1>
                <p>Eres representante de una empresa, registrala ahora mismo</p>
            </div>
            <div class="col-lg-12 text-center">
                <a href="{% if app.user == null %} {{ path('user_register_login')}} {% else %} {{ path('register-company')}} {% endif %}" type="button" class="btn btn-info">¡Registrarla ahora!</a>
            </div>
        </div>
    </section>

{% endblock %}
