{% extends "AppBundle:Layouts:layoutprofiles.html.twig" %}
{% block javascripts %}

    {{ parent() }}
    <script src="{{asset('assets/js/custom/email-test.js')}}"></script>

{% endblock %}

{% block content %}

    <section class="register-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 hidden-md hidden-sm hidden-xs">
                    <h1>Se parte de este gran proyecto</h1>
                    <img src="{{ asset('assets/images/myjobsadvisor-register.png')}}" class="img-responsive img-register" alt="">
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 form-register">
                    <div class="panel panel-default">
                        <div class="panel-heading"><h4>Únete a MyJobsAdvisor</h4></div>
                        <div class="panel-body">
                            {{form_start(form, {'action':'', 'method':'POST'})}}
                            {{form_errors(form)}}


                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
                                <div class="errors">

                                </div>
                                {%for message in app.session.flashbag().get('status')%}
                                    <div class="alert alert-danger">{{message}}</div>
                                {%endfor%}
                                {{form_row(form.name)}}
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 form-group">
                                {{form_row(form.plastname)}}
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 form-group">
                                {{form_row(form.mlastname)}}
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 form-group">
                                {{form_row(form.email)}}
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 form-group">
                                {{ form_row(form.gender) }}
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 form-group">
                                {{form_row(form.age)}}
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 form-group">
                                {{form_row(form.telephone)}}
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 form-group">
                                {{form_row(form.password)}}
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 form-group">
                                <label for="confirmpasswordInput">Confirmar contraseña</label>
                                <input type="password" class="form-control" required id="confirmpasswordInput">
                            </div>
                            
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
                                {{form_row(form.anonimo)}} 
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
                                <br>
                                <p><b>Dando clic en "Registrarse" acepto los <a href="#">terminos y condiciones</a> de la empresa</b></p>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
                                {{form_row(form.Registrarse)}}
                            </div>
                            <div class="clearfix"></div>
                            {{form_end(form)}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container -->
    </section>
{% endblock %}
